<div class="small-12 medium-8 columns">
  <hr>
  <form action="search_jobs" method="get" target="" class="job-search" id="search_jobs" onsubmit="return isFilledOut()" name="search_jobs">
    <input type="hidden" name="searchType" id="searchType" value="basic">
    <input name="tm" type="hidden" value="">
    <div class="filters">
      <h3 class="filter">Search the Veterans Job Bank</h3>
      <h4 class="error-message" style="display:none;">Please enter a search term.</h4>
      <fieldset class="borderless">
        <div class="row">
          <div class="small-12 columns">
            <div class="item">
              <label for="kw">What  <span class="field-details"><span class="example">(job title, keywords)</span></span> </label>
              <input id="kw" name="kw" class="text address" type="search" value="<%= @kw %>" maxlength="95">
            </div>
          </div>
        </div>
        <div class="row dataRow">
          <div class="small-12 medium-6 columns">
            <div class="item"> <label for="zc">Where  <span class="field-details"><span class="example">(city, state, country)</span></span> </label> <input id="zc" name="zc" class="text address" type="search" value="<%= @zc %>" maxlength="95"></div>
          </div>
          <div class="small-12 medium-6 columns">
            <div class="item"> <label for="moc">Military  <span class="field-details"><span class="example">(military job title or code)</span></span> </label> <input id="moc" name="moc" class="text military" type="search" value="<%= @moc %>" maxlength="95"></div>
          </div>
        </div>
        <div id="adv-srch-flds" class="advancedSearch" style="display: block;">
          <div class="row dataRow">
            <div class="small-12 medium-6 columns">
              <label for="zc1">Zip Code
                <span class="field-details"><span class="example">(5 digits)</span></span>
              </label>
              <input id="zc1" name="zc1" class="clearable zip" type="text" value="" maxlength="5">
            </div>
            <div class="small-12 medium-6 columns">
              <label for="rd1">Distance
                <span class="field-details"><span class="example">(in miles)</span></span>
              </label>
              <select id="rd1" name="rd1" class="distance">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="25" selected="">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="300">300</option>
              </select>
            </div>
            <div class="small-12 medium-6 columns">
              <label for="onet">Occupation Group
                <span class="field-details"><span class="example">(type of job)</span></span>
              </label>
              <select name="onet" id="onet" class="select" onchange="">
                <option value="">Choose Occupation group</option>
                <option value="17-0000.00">Architecture &amp; Engineering</option>
                <option value="27-0000.00">Arts, Design, Entertainment, Media</option>
                <option value="37-0000.00">Bldg/Grounds Maintenance &amp; Cleaning</option>
                <option value="13-0000.00">Business &amp; Financial Operations</option>
                <option value="21-0000.00">Community &amp; Social Services</option>
                <option value="15-0000.00">Computer &amp; Mathematical</option>
                <option value="47-0000.00">Construction &amp; Extraction</option>
                <option value="25-0000.00">Education, Training &amp; Library</option>
                <option value="45-0000.00">Farming, Fishing &amp; Forestry</option>
                <option value="35-0000.00">Food &amp; Lodging</option>
                <option value="29-0000.00">Healthcare</option>
                <option value="49-0000.00">Installation, Maintenance &amp; Repair</option>
                <option value="23-0000.00">Legal</option>
                <option value="19-0000.00">Life, Physical &amp; Social Science</option>
                <option value="11-0000.00">Management</option>
                <option value="43-0000.00">Office &amp; Administrative Support</option>
                <option value="39-0000.00">Personal Care/ Service &amp; Gaming</option>
                <option value="51-0000.00">Production</option>
                <option value="33-0000.00">Protective Services</option>
                <option value="41-0000.00">Sales &amp; Related</option>
                <option value="53-0000.00">Transportation &amp; Material Moving</option>
              </select>
            </div>
            <div class="small-12 medium-6 columns">
              <label for="ind">Industry
                <span class="field-details"><span class="example">(job industry)</span></span>
              </label>
              <select name="ind" id="ind" class="select" onchange="">
                <option value="">All Industry Groups</option>
                <option value="1">Aerospace / Defense</option>
                <option value="31">Agriculture</option>
                <option value="2">Automotive / Transport</option>
                <option value="3">Banking</option>
                <option value="32">Business Services</option>
                <option value="33">Charitable Organizations</option>
                <option value="4">Chemicals</option>
                <option value="5">Computer Hardware</option>
                <option value="34">Computer Services</option>
                <option value="6">Computer Software</option>
                <option value="7">Conglomerates</option>
                <option value="8">Consumer Products</option>
                <option value="35">Consumer Services</option>
                <option value="36">Cultural Institutions</option>
                <option value="10">Diversified Services</option>
                <option value="11">Drugs / Pharmaceuticals</option>
                <option value="30">Education/Higher Education</option>
                <option value="12">Electronics &amp; Misc. Tech.</option>
                <option value="13">Energy</option>
                <option value="37">Environmental Services &amp; Equipment</option>
                <option value="14">Financial Services</option>
                <option value="15">Food, Beverage &amp; Tobacco</option>
                <option value="38">Foundations</option>
                <option value="39">Government</option>
                <option value="17">Health Products &amp; Services</option>
                <option value="16">Hospital / Healthcare</option>
                <option value="18">Insurance</option>
                <option value="19">Leisure</option>
                <option value="20">Manufacturing</option>
                <option value="21">Materials &amp; Construction</option>
                <option value="22">Media / Publishing</option>
                <option value="23">Metals &amp; Mining</option>
                <option value="24">Real Estate</option>
                <option value="25">Retail</option>
                <option value="40">Security Products &amp; Services</option>
                <option value="27">Telecommunications</option>
                <option value="28">Transportation</option>
                <option value="29">Utilities</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-4 columns">
              <label for="cname">Employer
                <span class="field-details"><span class="example">(you can use part of the name)</span></span>
              </label>

              <input id="cname" name="cname" class="clearable address" type="text" value="" maxlength="95">
            </div>

            <div class="small-12 medium-4 columns">
              <label for="fed">Federal Jobs Filter
                <span class="field-details"><span class="example"></span>&nbsp;</span>
              </label>
              <select name="fed" id="fed" class="select" onchange="">
                <option value="">All Jobs</option>
                <option value="1">Federal Jobs Only</option>
                <option value="2">Non-Federal Jobs Only</option>
              </select>
            </div>

            <div class="small-12 medium-4 columns">
              <label for="tm">Job Added/Updated

                <span class="field-details"><span class="example">&nbsp;</span></span>
              </label>
              <select name="tm" class="select" id="tm">
                <option value="">At any time</option>
                <option value="1">Today</option>
                <option value="2">Within the past 2 days</option>
                <option value="3">Within the past 3 days</option>
                <option value="7">Within the past week</option>
                <option value="14">Within the past 2 weeks</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 medium-7 columns">
            <div class="actions">
              <button class="button primary" type="submit" id="job-search">Search</button>
            </div>
          </div>
          <div class="small-12 medium-4 columns align-right">
            <div class="actions">
              <a id="adv-search-jobs" class="toggle-srch advancedTag" href="#">Advanced Search</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <small>Job search powered by <abbr>NLX</abbr> and Google</small>
          </div>
        </div>
      </fieldset>
      <hr>
    </div>
  </div>
</form>
