<!-- LinkedIn -->
<a href="https://veterans.linkedin.com" target="blank">
  <div class="small-12 medium-4 columns card job-card">
    <div class="row">
      <div class="small-12 columns">
        <p>Free LinkedIn Subscription</p>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <span class="description">The world’s largest professional network is stepping up for Veterans. Sign up now for a free, one-year Job Seeker subscription.</span>
      </div>
    </div>
  </div>
</a>

<!-- Coursera -->
<a href="https://www.surveymonkey.com/r/QSGQRFN" target="blank">
  <div class="small-12 medium-4 columns card job-card">
    <div class="row">
      <div class="small-12 columns">
        <p> Free Coursera Certificates</p>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <span class="description">Coursera provides all Veterans with one free certificate upon completion of any of the over 800 Coursera courses that you choose to take.</span>
      </div>
    </div>
  </div>
</a>
