<% provide(:title, "Home") %>
<div id="content" class="interior">
  <a id="content" href="#content" class="sr-only">Content starts here.</a>

  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="active"><h2>Veterans Employment Center</h2></li>
        </ul>
      </div>
    </div>
  </div>
  <%= render 'layouts/navigation' %>
  <div class="section one">

    <div class="primary">
      <div class="row">
        <div class="small-12 columns">

          <h3>The Veterans Employment Center connects Veterans and their families with meaningful employment and career development opportunities.</h3>
    	  
      	  <p>Resources and tools for both job seekers and employers.</p>
    	  
        </div>
      </div>
    </div>


  <!-- Navigation -->
  </div>
</div>
