<div itemscope itemtype="http://schema.org/JobPosting">
<meta itemprop="specialCommitments" content="VeteranCommit" />
<h2 itemprop="title">Certification Engineer (CE)</h2>
<span>
  <p>
  <strong>Location:</strong> 
  <span itemprop="jobLocation" itemscope itemtype="http://schema.org/Place">
    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="addressLocality">Wichita</span> 
      <span itemprop="addressRegion">KS</span>
    </span>
  </span>
  </p>
</span>
<p itemprop="description">
<strong>Description:</strong> 
<span itemprop="hiringOrganization" itemscope itemtype="http://schema.org/Organization">
  <span itemprop="name">3S Engineering</span>
  <p>This position exercises independent judgment with regard to the resolution of problems and interaction with internal and external departments, outside vendors, subcontractors and consultants, ODA unit members and customers. This position also provides oversight on 3S Certification ODA activities and has direct contact with the FAA.</p>

  <p>PRIMARY RESPONSIBILITIES INCLUDE:</p>

  <p>&bull; Understand, plan and execute technical activities in accordance with 3S Engineering policies, procedures and work instructions and Customer specific requirements</p>

  <p>&bull; Interfaces and communicates with 3S Engineering Program Management, 3S Certification ODA members/staff, all branches of the FAA,&nbsp; and customers as necessary</p>

  <p>&bull; Develop, edit and contribute to reports supporting certification activities such as FAA Project Specific Certification Plans, test plans and test reports, compliance reports, etc.</p>

  <p>&bull; Assist the assigned project manager for 3S Certification ODA projects with certification requirements for systems and equipment, structures, power plants and flight test requirements defined by the 3S Certification ODA Unit</p>

  <p>&bull; Create necessary supporting documentation for STC Projects required within specific technical disciplines and/or capabilities</p>

  <p>&bull; Serve as interface between the 3S Engineering design team, project team, DER, UMs and the 3S Certification ODA administrative staff</p>

  <p>&bull; Serve as Subject Matter Expert in order to expedite projects and upgrade the 3S Engineering staff&rsquo;s knowledge level related to FAA requirements</p>

  <p>&bull; Interface with customers to generate Statements of Work, Concept of Operations documents and systems specifications.</p>

  <p>&bull; Provide support to internal resources in the generation of internal specifications, control documents, verification and validation plans, procedures, reports or other documentation in support of customer requirements</p>

  <p>&bull; Provide technical support and engineering expertise to Business Development activities as required</p>

  <p>&bull; Assist senior management in providing opportunities for career advancement and growth for engineering personnel balancing personal aspirations with company objectives</p>

  <p>&bull; Attend project meetings and assume responsibility for assigned action items</p>

  <p>&bull; Punctuality to work each day and prepared to work scheduled work hours</p>

  <p>&bull; Other duties as assigned</p>

  <p><em>3S job descriptions are meant as summarizations only. They do not necessarily reflect all duties and responsibilities of a position </em></p>

  <p>&nbsp;</p>

  <p>ESSENTIAL FUNCTIONS:</p>

  <p>&bull; Minimum physical requirements to perform all duties and responsibilities, as defined by management</p>

  <p>&bull; Extensive knowledge in specialized functions. A wide and comprehensive acquaintance with, and understanding of, both general and specific aspects of the job and their practical application to complex problems and situations ordinarily encountered</p>

  <p>&bull; Minimal supervision. Work may be performed without established procedures</p>

  <p>Note. Ability to obtain/maintain a security clearance may be required</p>

  <p>EDUCATION/EXPERIENCE REQUIRED:</p>

  <p><strong>Job Title Typical Experience </strong></p>

  <p>Certification Engineer I 0 - 2+ Years</p>

  <p>Certification Engineer II 3+ Years</p>

  <p>Certification Engineer III 5+ Years</p>

  <p>Senior Certification Engineer I 6+ Years</p>

  <p>Senior Certification Engineer II 8+ Years</p>

  <p>Principal Certification Engineer 10+ Years</p>

  <p>&bull; BS/BA in engineering discipline or equivalent experience</p>

  <p>&bull; A solid understanding of 14 CFR, Parts 21, 23, 25.</p>

  <p>&bull; Experience with Parts 27 and 29 a plus.</p>

  <p>&bull; Technical writing experience required</p>

  <p>&bull; Effective interpersonal skills within an engineering environment influencing the success of a unit or group</p>

  <p>&bull; Must have excellent written and oral communication skills and the ability to motivate others</p>

  <p>&bull; Must be able to think quickly and make sound decisions in regards to aircraft issues and personnel-related issues</p>

  <p>&bull; Must be a self-starter and problem solver</p>

  <p>&bull; Familiar with commercial technical publications, requirements, and processes</p>

  <p>&bull; Familiar with computer-aided design and drafting packages</p>

  <p>&bull; Proficiency in intranet/internet environment and Windows operating systems is required</p>

  <p>&bull; Proficient with MS Office and MS Project or related project tracking system</p>

  <p>&nbsp;</p>

</span>
</p>
<p><strong>Educational requirements:</strong></p>
<ul itemprop="educationRequirements">
  <li>Bachelor's Degree</li>
</ul>
<p><strong>Experience requirements:</strong></p>
<ul itemprop="experienceRequirements">
  <li>2 to 20 years</li>
</ul>
<p>If interested in this position, please apply <a href="http://www.coloradodiversity.com/j/t-certification-engineer-ce-e-3s-engineering-l-wichita,-ks-jobs-j10053386.html">online</a>.</p>
</div>
<div itemscope itemtype="http://schema.org/JobPosting">
  <meta itemprop="specialCommitments" content="VeteranCommit" />
  <h2 itemprop="title">Electrical System Designer</h2>
  <span>
    <p>
    <strong>Location:</strong> 
    <span itemprop="jobLocation" itemscope itemtype="http://schema.org/Place">
      <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="addressLocality">Wichita</span> 
        <span itemprop="addressRegion">KS</span>
      </span>
    </span>
    </p>
  </span>
  <p itemprop="description">
  <strong>Description:</strong> 
  <span itemprop="hiringOrganization" itemscope itemtype="http://schema.org/Organization">
    <span itemprop="name">3S Engineering</span>
    <p>PRIMARY RESPONSIBILITIES INCLUDE:</p>

    <p>&bull; Responsible for developing, modifying and implementing standard aircraft electrical and avionics system designs</p>

    <p>&bull; Originate specifications, control documents, reports, and / or other documentation in support of design and development activities</p>

    <p>&bull; Support project efforts to interpret Customer requirements into system requirements and specifications</p>

    <p>&bull; Prepare material for, and conduct periodic design reviews</p>

    <p>&bull; Follow 3S policies, procedures and work instructions for all technical activities</p>

    <p>&bull; Execute electrical engineering design and development activities consistent with customer quality, cost and schedule requirements</p>

    <p>&bull; Ensure that all specifications, designs and developments adhere to technical and aerospace industry standards</p>

    <p>&bull; Provide support in the development and maintaining of configuration baselines for aircraft / avionics systems and sub-systems</p>

    <p>&bull; Act as a technical liaison to the 3S Program Manager</p>

    <p>&bull; Punctuality to work each day and prepared to work scheduled work hours</p>

    <p>&bull; Create technical briefings for customer reviews</p>

    <p>&bull; Other duties as assigned</p>

    <p><em>3S job descriptions are meant as summarizations only. They do not necessarily reflect all duties </em><em>and responsibilities of a position</em></p>

    <p>ESSENTIAL FUNCTIONS:</p>

    <p>&bull; Minimum physical requirements to perform all duties and responsibilities, as defined by management</p>

    <p>EDUCATION / EXPERIENCE REQUIRED:</p>

    <p>&bull; Associate degree in electrical engineering field minimum or equivalent experience</p>

    <p>Job Title Typical Experience</p>

    <p><em>Systems Designer I 0-2+ Years</em></p>

    <p><em>Systems Designer II 3+ Years</em></p>

    <p><em>Systems Designer III 6+ Years</em></p>

    <p><em>Principal Systems Designer 10+ Years</em></p>

    <p><em>Chief Systems Designer 15+ Years</em></p>

    <p>&nbsp;</p>

    <p>SKILLS REQUIRED:</p>

    <p>&bull; Ability to go beyond AutoCAD work and sketch/detail existing systems/aircraft wiring diagrams</p>

    <p>&bull; Candidate must be a self-starter, highly motivated individual</p>

    <p>&bull; Ability to create drawings in electrical disciplines</p>

    <p>&bull; Strong communication (written and verbal) skills required</p>

    <p>&bull; Ability to work in a fast-paced production environment</p>

    <p>&bull; Proficient in MS Office products</p>

    <p>&bull; Proficient in AutoCAD software as related to specific jobs duties</p>

    <p>Note: Ability to obtain/maintain a security clearance maybe required.</p>

  </span>
  </p>
  <p><strong>Educational requirements:</strong></p>
  <ul itemprop="educationRequirements">
    <li>Associate Degree</li>
  </ul>
  <p><strong>Experience requirements:</strong></p>
  <ul itemprop="experienceRequirements">
    <li>1 to 20 years</li>
  </ul>
  <p>If interested in this position, please apply <a href="http://www.coloradodiversity.com/j/t-electrical-system-designer-e-3s-engineering-l-wichita,-ks-jobs-j10053385.html">online</a>.</p>
</div>
