<% provide(:title, "Understanding the Military Experience") %>
<div class="small-12 columns omega main-content standard">

  <h1>Understanding the Military Experience</h1>
  <p>Increasing your knowledge and understanding about military experience will help you better understand, relate to, and support your Veteran employees. For example, understanding the chain of command, authority, and experiences in the military may help you understand how a Veteran employee may view your organization&rsquo;s hierarchy and culture.</p>

  <p>Understading the branches of the military, the meaning of military ranks, and the level of leadership and responsibility held by each rank may be confusing without some helpful guidance.&nbsp; The guides available below provide insight on military structure, branches, and ranks.</p>

  <ul>
    <li><a href="http://www.va.gov/vetsinworkplace/docs/em_structureBranches.html" target="_blank">Military Structure &amp; Branches<span class="reader">...</span><%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a></li>
    <li><a href="http://www.va.gov/vetsinworkplace/docs/em_rank.html" target="_blank">Military Ranks<span class="reader">...</span><%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a></li>
  </ul>

  <p>Unsure about the difference between someone who is 'active duty' and someone who is in the Reserve or National Guard? Learn about the difference, the roles of the Reserve and National Guard, and what it means when they deploy in <abbr>VA</abbr>&rsquo;s <a href="http://www.va.gov/vetsinworkplace/docs/em_activeReserve.html">Active Duty vs. Reserve or National Guard<span class="reader">...</span><%= image_tag "new_window.gif", class: "external", alt: "Opens in a new window." %></a> handout.</p>

</div>
