<fieldset>
  <legend>Enter your professional affiliations. Add as many as necessary by using the "Add Affiliation" link.</legend>
  <div class="row form-group dataItem">
    <div class="small-12 columns">
      <%= f.label :job_title, "Affiliation " %>
      <%= f.text_field :job_title %>
    </div>
  </div>

  <div class="row form-group dataItem">
    <div class="small-12 columns">
      <%= f.label :organization, "Affiliated Organization " %>
      <%= f.text_field :organization %>
    </div>
  </div>
</fieldset>
