<% provide(:title, "Resume Builder") %>

<div id="content" class="interior">
  <a id="content" href="#content" class="sr-only">Content starts here.</a>

  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
	  <li class="parent"><%= link_to "Careers and Employment", root_path %></li>
	  <li class="parent"><%= link_to "Job Seekers", job_seekers_path %></li>
          <li class="active">Résumé Builder</li>
        </ul>
      </div>
    </div>
  </div>

    <div class="section one">
      <div class="row">
        <div class="small-12 medium-9 columns">
          <div class="primary">

            <p>The Veterans Employment Center (VEC) can help you enter your information, which can then be downloaded into a civilian or federal résumé.</p>

            <p>Manually enter your information into the form fields below, or click the blue Auto-fill from LinkedIn button to prepopulate some of the fields from your LinkedIn account.</p>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <%= render 'form' %>
        </div>
      </div>
    </div>

</div>

