<% if @search.featured_jobs.any? %>
  <div class="feature job-row">
    <div class="row">
      <div class="small-7 columns">
        <h3><strong>Featured</strong> jobs</h3>
      </div>
      <div class="small-5 columns">
        <%= render partial: 'featured_pagination' %>
      </div>
      <div class="small-12 columns">
        <p>from employers that have committed to hiring veterans.</p>
      </div>
    </div>
      <% @search.featured_jobs.each do |featured_job| %>
        <%= render partial: 'featured_job.html', locals: { featured_job: featured_job }%>
        <% end %>
  </div>
<% end %>
