<% if @search.federal_jobs.any? %>
  <div class="federal">
    <div class="row">
      <div class="small-12 columns">
        <h3><strong>Federal</strong> jobs</h3>
      </div>
    </div>
    <% @search.federal_jobs.each do |federal_job| %>
      <%= render partial: 'federal_job', locals: { federal_job: federal_job }%>
    <% end %>
  </div>
<% end %>
