<div class="row pagination main-results">
  <div class="small-6 columns">
    Displaying results <%= @rs %> - <%= (@rs.to_i + @per_page - 1) %>
  </div>
  <div class="small-6 columns align-right">
    <% if @page > 1 %>
      <%= link_to "< Prev Page",  previous_page_path(params, @page, @per_page),  class: "prev_page_link" %>
    <%end%>
    <%= link_to "Next Page >",  next_page_path(params, @page, @per_page),  class: "next_page_link" %>
  </div>
</div>
