<% if @search.jobs.empty? && @search.featured_jobs.empty? && @search.federal_jobs.empty? %>
  <div class="row job-empty">
    <div class="small-12 columns">There are no jobs that match the search criteria</div>
  </div>
<% else %>

<div class="row job-row">
  <div class="small-12 full columns">
    <% # Only display when both are displayed on a page %>
    <% if @search.featured_jobs.any? && @record_count && @record_count > 0%>
      <h3>More Jobs</h3>
    <% end %>
    <% if @record_count && @record_count > 0%>
      <%= render partial: 'pagination', locals: {searcher: @searcher} %>
    <% end %>
    <div>
      <% @jobs.each do |job| %>
        <%= render partial: 'job', locals: {job: job} %>
      <% end %>
    </div>
  </div>
</div>

<% end %>
