<% provide(:title, "Search Results") %>
<div id="content" class="interior">
  <a href="#content" class="sr-only">Content starts here.</a>
  <script type="text/javascript">var switchTo5x=true;</script>

  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="parent"><%= link_to "Employment", "/employment" %></li>
		  
          <li class="active">Job Search</li>
        </ul>
      </div>
    </div>
  </div>

  <%= render partial: 'form' %>
