<% provide(:title, "Search Results") %>
<div id="content" class="interior">
  <a href="#content" class="sr-only">Content starts here.</a>
  <script type="text/javascript">var switchTo5x=true;</script>

  <%= render partial: 'form' %>
