<% provide(:title, "Search Results") %>
<div id="content" class="interior">
  <a href="#content" class="sr-only">Content starts here.</a>
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript">stLight.options({publisher: "d87edadf-394e-427b-9309-09883068e6b6", doNotHash: false, doNotCopy: false, hashAddressBar: false, onhover: false});</script>

  <div class="splash">
    <div class="row">
      <div class="small-12 columns">
        <ul class="breadcrumbs" role="menubar" aria-label="Primary">
          <li class="parent"><%= link_to "Veterans Employment Center", root_path %></li>
		  <li class="parent"><%= link_to "For Job Seekers", for_job_seekers_path %></li>
          <li class="active">Job Search</li>
        </ul>
      </div>
    </div>
  </div>

  <%= render partial: 'form' %>
