<div ng-app="skill-translator" ng-controller="SkillCtrl">
  <div id="content" class="interior">
    <a href="#content" class="sr-only">Content starts here.</a>
    <nav class="va-nav-breadcrumbs">
      <ul class="row va-nav-breadcrumbs-list" role="menubar" aria-label="Primary">
        <li><a href="/">Home</a></li>
        <li><%= link_to "Careers and Employment", root_path %></li>
        <li class="parent"><%= link_to "Job Seekers", job_seekers_path %></li>
        <li class="active">Military Skills Translator</li>
      </ul>
    </nav>
    <div class="section one">
      <div class="row">
        <div class="small-12 medium-9 columns">
          <h1>Military Skills Translator</h1>
          <p>Convert your military experience into civilian language that hiring managers can easily understand.</p>
        </div>
        <div class="small-12 medium-9 columns">
          <div class="filters row skill-translator-row">
            <div class="translate-box">
              <div data-alert id="errorBox" class="alert-box alert radius" ng-show="state.error" ng-cloak>
                {{state.error}}
              </div>
              <form novalidate name="skillRequestForm" ng-submit="submitForm()" class="single-form">
                <fieldset class="no-margin">
                  <legend>Military Position Information:</legend>
                  <div class="row form-group dataItem">
                    <div class="small-12 medium-5 columns"  ng-class="{'usa-input-error': (skillRequestForm.$submitted || skillRequestForm.military_position_branch.$touched) && skillRequestForm.military_position_branch.$error.required }">
                      <label for="military_position_branch" ng-class="{'usa-input-error-label': (skillRequestForm.$submitted || skillRequestForm.military_position_code.$touched) && skillRequestForm.military_position_code.$error.required }">Branch of Service (required)</label>
                      <div ng-show="skillRequestForm.$submitted || skillRequestForm.military_position_branch.$touched">
                        <span class="usa-input-error-message" ng-show="skillRequestForm.military_position_branch.$error.required">Branch of Service is required</span>
                      </div>
                      <select name="military_position_branch" ng-model="formData.branch"
                      ng-options="name for (name, value) in branches"
                      required id="military_position_branch">
                    </select>
                    <span ng-show="formData.branch.$error.required">Select branch!</span>
                  </div>
                </div>
                <div class="row form-group dataItem">
                  <div class="small-12 medium-5 columns" ng-class="{'usa-input-error': (skillRequestForm.$submitted || skillRequestForm.military_position_code.$touched) && (skillRequestForm.military_position_code.$error.required || (skillRequestForm.$submitted && !data.mo.title)) }">
                    <label for="military_position_code" ng-class="{'usa-input-error-label': (skillRequestForm.$submitted || skillRequestForm.military_position_code.$touched) && (skillRequestForm.military_position_code.$error.required || (skillRequestForm.$submitted && !data.mo.title)) }">Military Occupation Code (MOC) (required)</label>
                    <div ng-show="skillRequestForm.$submitted || skillRequestForm.military_position_code.$touched">
                      <span class="usa-input-error-message" ng-show="skillRequestForm.military_position_code.$error.required">Military Occupation Code (MOC) is required</span>
                      <span class="usa-input-error-message" ng-show="!skillRequestForm.military_position_code.$error.required && (skillRequestForm.$submitted && !data.mo.title)">Unknown MOC</span>
                    </div>

                    <input name="military_position_code" id="military_position_code" type="text" ng-model="formData.moc" required/>
                    <div ng-show="skillRequestForm.$submitted || skillRequestForm.military_position_code.$touched">
                    </div>
                  </div>
                </div>
                <div class="row form-group dataItem">
                  <div class="small-12 medium-5 columns">
                    <label for="military_position_status">Code Status</label>
                    <select name="military_position_status" id="military_position_status" ng-model="formData.status" required/>
                      <option value="true">Active</option>
                      <option value="false">Inactive</option>
                    </select>
                  </div>
                </div>
                <div class="row form-group dataItem">
                  <div class="small-12 medium-5 columns">
                    <label for="military_position_category">Code Category</label>
                    <select name="military_position_category" ng-model="formData.category"
                    ng-options="name for (name, value) in categories"
                    required id="military_position_category">
                    </select>
                  </div>
                </div>

                <div class="small-12 medium-3">
                  <input type="submit" value="Translate">
                </div>
              </fieldset>
            </form>

            <div id="militaryJobMatch" ng-show="data.mo" ng-cloak>
              <h4 ng-if="data.mo.title">
                <strong><span id="moc-code">{{data.mo.moc != 'DEFAULT' ? data.mo.moc : ""}}</span></strong>
                {{data.mo.moc && data.mo.moc != "DEFAULT" ? ":" : ""}}
                <span id="moc-title">{{data.mo.title}}</span>
              </h4>
              <label ng-if="data.mo.service && data.mo.category">{{data.mo.service}}, {{data.mo.category}}</label>
            </div>
          </div>
        </div>
      </div>

      <div class="small-12 medium-9 columns">
        <div class="row translation-results skill-translator-row" ng-show="data.mo" ng-cloak>

          <div id="pill-box" ng-cloak>
            <span ng-repeat="skill in data.shownSkills" class="skill-label"
            id="skill_pill_{{skill.id}}"
            ng-class="{selected: skill.selected}"
            ng-click="toggleSkill($event)">
            <i class="fa fa-fw"></i>
            {{skill.name}}
          </span>
        </div>
        <div class="row">
          <div class="small-12 medium-9 columns">
            <em>Click checkboxes to import skills into the Résumé Builder</em>
          </div>
          <div>
            <span class="skill-label more-label" ng-click="showMoreSkills()" ng-show="data.allSkills.length > 0">
              <span class="btn-label"><i class="fa fa-fw fa-refresh"></i></span>
              See more skills
            </span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="medium-6 columns">
            <b>Missing skills?</b> Search and add to your list
          </div>
        </div>

        <div class="row">
          <div class="small-12 medium-6 columns">
            <form ng-submit="addSkill()" class="add-skill-form">
              <div class="row collapse">
                <div class="small-9 columns">
                  <label for="selectSkills" class="hide">Manually search for skills</label>
                  <input type="text" class="sfTypeahead" options="exampleOptions" datasets="typeaheadData" ng-model="state.newSkill" placeholder="Search" id="selectSkills">
                </div>
                <div class="small-3 columns">
                  <button class="usa-button">Add</button>
                </div>
              </div>
            </form>
          </div>

          <div class="row translation-results skill-translator-row right" ng-show="data.mo" ng-cloak>
            <form id="new_resume" name="new_resume" method="post" action="<%= new_veteran_path %>" style="display:none">
              <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
              <input name="moc" type="hidden" value="{{formData.moc}}">
              <input name="branch" type="hidden" value="{{formData.branch}}">
              <input name="status" type="hidden" value="{{formData.status}}">
              <input name="category" type="hidden" value="{{formData.category}}">
              <input name="skills[]" type="hidden" ng-repeat="skill in data.selectedSkills" value="{{skill.id}}">
            </form>
            <button class="success secondary" id="importButton" ng-click="newResume()">
              <span class="btn-label"><i class="fa fa-file-text-o"></i></span>
              Import into Résumé Builder
            </button>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <div class="small-12 medium-9 columns">
      <h5>Tips for using the Military Skills Translator:</h5>

      <ul>
        <li>The initial set of skills will be generated by your Military Occupation Code (MOC). </li>
        <li>You may add any missing skills by manually searching for skills or qualities not listed by the translator.</li>
        <li>The skills you select will be imported into the Résumé Builder. Carefully select skills that best fit either a specific job description or the employment sector that interests you.</li>
        <li>Once you have selected your skills, click the green Import into Résumé Builder button and continue to work on your résumé.</li>
        <li>Know which skills you want to use on your résumé? Skip directly to the <a href="/employment/job-seekers/create-resume">Résumé Builder</a> to create a résumé.</li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
</div>

<!--   This fixes a strange Chrome/Angular bug, where if you come back
to this page with the browser Back button, Angular will do a
bad job handling the old form data in the new_resume form above.
It will look like the app functions fine, but then it will submit the wrong
skills to the resume builder (it will submit the skills from your previous query).
By forcing a page reload, we can clear out whatever broken caching thing
Angular is doing. We only want to do this on a browser Back click though,
otherwise we would infinitely reload the page. This hidden form is one way,
as browsers preserve form data when you click Back. -->
<form name="chrome_angular_bug_fix">
  <input type="hidden" id="page_is_dirty" name="page_is_dirty" value="0" />
</form>
<script>
var dirty_bit = document.getElementById('page_is_dirty');
if (dirty_bit.value == '1') window.location.reload();
dirty_bit.value = '1';
</script>
