// Styles for card navigation elements

@mixin transition($properties...) {
  // Fix for vendor-prefix transform property
  $needs-prefixes: false;
  $webkit: ();
  $moz: ();
  $spec: ();

  // Create lists for vendor-prefixed transform
  @each $list in $properties {
    @if nth($list, 1) == "transform" {
      $needs-prefixes: true;
      $list1: -webkit-transform;
      $list2: -moz-transform;
      $list3: ();

      @each $var in $list {
        $list3: join($list3, $var);

        @if $var != "transform" {
          $list1: join($list1, $var);
          $list2: join($list2, $var);
        }
      }

      $webkit: append($webkit, $list1);
      $moz:    append($moz,    $list2);
      $spec:   append($spec,   $list3);
    } @else {
      $webkit: append($webkit, $list, comma);
      $moz:    append($moz,    $list, comma);
      $spec:   append($spec,   $list, comma);
    }
  }

  @if $needs-prefixes {
    -webkit-transition: $webkit;
       -moz-transition: $moz;
            transition: $spec;
  } @else {
    @if length($properties) >= 1 {
      @include prefixer(transition, $properties, webkit moz spec);
    } @else {
      $properties: all 0.15s ease-out 0s;
      @include prefixer(transition, $properties, webkit moz spec);
    }
  }
}

.va-cards {
  display: block;
  // TODO: Remove !important when 
  // #content .main .section.one ul is cleared up
  margin: 0 !important;
  min-width: 300px;
  padding: 0;
}

// Foundation break point
@media #{$medium} {
  .va-cards--3across,
  .va-cards--2across {
    @include clearfix;
  }
  
  .va-cards--3across {
    > .va-card {
      width: 32%;
    } 
  }
  
  .va-cards--2across {
    > .va-card {
      width: 48.7%
    } 
  }
}

.va-card { 
  list-style: none !important;
  position: relative;
  padding: 0;
  
  @media #{$medium} {
    float: left;
    margin: 0 0.625rem 1.25rem 0.67rem;
  }
  
  a {
    color: inherit;
  }
}

// This can be any element, but usually an
// `a` or `div`
.va-card-body, .va-card a {
  @include transition(all 0.3s ease-in-out);
  background: $color-primary-darker;
  border-bottom: 2px solid rgba(255,255,255,0.3);
  color: #fff !important;
  display: block;
  font-weight: normal;
  padding: .45em .75em;
  text-decoration: none;

  &:active, &:hover, &:focus {
    background: $color-primary;
    color: inherit;
    cursor: pointer;
    text-decoration: inherit;
    box-shadow: 0 0 5px rgba(0,0,0,0.35);
  }

  + ul,
  + ol {
    margin: 1em 1.2em 0 2em !important;
  }
   
  // Using $medium instead of $medium-screen
  // because this grid uses Foundation, not USWDS
  // Roughly a 640px breakpoint.
  @media #{$small} {
    height: 10em;
    border-bottom: none;
    text-align: left;
    border-radius: .2em;
  }
  
  @media #{$medium} {
    padding: 1.2em 1.5em;
  }
}

.va-card-title {
  color: $color-white !important;
  font: 600 1.35em / 1.3em $font-sans !important;
  margin: 0 !important;
  padding: 0 0 .25em 0 !important;
  
  a {
    text-decoration: none;
    background-color: transparent;
  }
}

