// Breadcrumbs

#content ul.breadcrumbs {
  background: none;
  border: none;
  margin: 0 0 1em 0;
  
  h2 {
    font-size: 1em;
  }
  
  padding: 0;
  @media #{$small} {margin: 0 0 1em 0;}
  
  border-radius: 0;
  border-radius: none;

  li {
    text-transform: none;
    margin: .25em 0;
    padding: .1em;
    display: inline-block;
    line-height: 1.15em;
    height: auto;
    vertical-align: middle;
    font-size: .85em;
    
    @media #{$small} {
      font-size: 1.35em;
    }
    &:hover  {border-bottom: none; text-decoration: none;}
    &.parent {
      a {background: none;}
      padding-top: .5em;
      margin: 0 0 .75em 0;
      
      @media #{$small} {
        display: inline-block;
      }

      &:before {content: none; vertical-align: middle;}
      &:after {content:" › "; display: inline-block; color: $color-white; padding: 0 .5em;}
    }

    &.active {
      background: $color-gold;
      color: $color-va-black;
      font-family: $font-serif;
      font-weight: 400;
      margin: .5em 0;
      padding: .2em;
      font-size: 1.35em;
      @media #{$medium} {font-size: 1.8em;}
      &:before {content: ""; padding: 0; margin: 0;}
      }
    }
    a {
      border-bottom: 3px solid $color-white;
      background: none;
      text-decoration: none !important;
      color: $color-white;
      &:hover {
        text-decoration: none; 
        background: rgba(0,0,0,.1); 
        border-bottom: 3px solid $color-gold;
      }
    }
}

.breadcrumbs--inline {
  display: inline-block;
  
  @media #{$small} {
    margin-right: 1em !important;
  }
  
  li.active::before {
    display: none;
  }
}

// Breadcrumbs
.va-nav-breadcrumbs {
  background: $color-white;
  color: $color-primary;
  font-size: inherit;
  padding: 1em 0;

  
  li {
    display: inline-block;
    margin: .25em 0;
    //outline: 1px dashed #6c6;
    padding: .25em 0 .25em 0;
    vertical-align: middle;

    &:after {
      content: " › "; 
      display: inline-block; 
      padding: 0 .35em;
    }

    &.active {
      font-weight: bold;
      padding: .3em 0;

      &:after {
        content: '';
      }
    }
  }
  a {
    color: $color-primary;
    display: inline-block;
    padding: 2px;

    &:hover {
      background: rgba(0,0,0,.1); 
    }
  }
}

.va-nav-breadcrumbs-list {
  @extend .columns;
  float: none;
}