/*** VEC Styles ***/

// Some overrides to look into more later
ul li:before {
  content:none;
}

#content ul.breadcrumbs li.active {
  margin: 0em;
}


// Search

.advanced-search {
  margin-bottom: 1em;
}

.overlay {
  z-index: 10000;
}

.reveal-modal #search_form {
  margin-bottom: 1em;
}
#search_form input[type="text"] {
  max-height: 2.6em;
}

.reveal-modal .close-reveal-modal {
  font-size: 1em;
  clear: both;
  text-decoration: none;
  color: $color-gray-dark;
  text-align: center;
  margin: 1em 0;
  position: relative;
  top: auto;
  display: block;
  padding: 1em 0;
  right: auto;
  width: 100%;
  bottom: auto;
}


// /*** VEC Styles ***/
// TODO: Remove this block after demo
.featured-jobs-height-hack {
    overflow: hidden;
    max-height: 660px;
    margin-bottom: 2rem;
}
// end remove block

.card.information {
  background: rgba(0,0,0,.05);
  min-height: 11.2rem;
}
.card .description {
    text-transform: none;
    font-size: 1em;
    padding: .5em 0;
    color: color-primary-darkest;
}
#vec-user-nav.top-bar {
  background-color: $color-primary-darkest;
  border-bottom: $color-primary-alt-darkest solid 1px;
  opacity: 0.8;
  @include media($medium-screen) {
    height: auto;
  }
  ul .divider {
    border-right: $color-primary-darker solid 1px;
  }
  .top-bar-section ul {
    background-color: color-primary-alt-darkest;
  }
  ul li {
    list-style: none;
    a {
      background-color: $color-primary-darkest;
      color: #fff;
      font-size: 0.9rem;
      font-weight: initial;
      text-decoration: none;
      &:hover {
        background-color: $color-primary-darker;
      }
    }
  }
}

.row.full {
  width: 100%;
  max-width: 100%;
}

#search_form input[type="text"] {
  font-size: 1rem;
}

// short term less-ugly for alerts
.alert-box.notice {
  margin-bottom: 0px;
  font-weight: 400;
}

.job-row {
  margin-bottom: 2rem;
  .result {
    border-bottom: solid $color-gray-light 1px;
  }
  .feature-badge {
    margin: 1rem 0;
    width: 55px;
  }
  img {
    vertical-align: baseline;
  }
}

.row.pagination {
  margin-bottom: 2rem;
}

.panel.plain {
  border: none;
  margin-top: 1rem 0;
}

.no-margin {
  margin: 0px;
}

.card {
  &.job-card {
    margin-top: 1.25rem;
    padding: 1rem;
    background-color: $olso-gray;
    color: #fff;
    h4 {
      color: #fff;
    }
    img, p {
      float: left;
      display: inline-block;
      margin-bottom: 1rem;
    }
    .description {
      font-weight: 500;
      font-size: 1rem;
      font-height: 1px;
      line-height: 1.6;
      text-transform: none;
    }
  }
}

#content .cards a.long {
  height: 11em;
}

// Utilities
.align-right {
  float: right;
  text-align: right;
}
.borderless {
  border: none
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.form-section {
  padding: 2rem;
  margin: 0 0 2rem;
  border: 1px solid #eee;

  h3 {
    &.no-margin {margin: 0; padding: 0 0 1rem;}
  }
  .required {
    margin: 0;
    &.field {font-size: 1em;}
    &.federal {
      margin-top:1em;
      color: $color-primary-darker;
      font-size: .75em;
      text-align: right;
      padding: .2em;
      display: inline-block;
      float:right;
    }
    &.message {
      font-size: .75em;
      padding: .5em;
      float: right;
    }
  }
}

.call-out {
  background: $color-primary-alt-lightest;
  padding: 2em;
  clear: both;
  margin: 0 0 1.5em 0;
  p {margin-bottom: 0; padding-bottom: .5em}
  p:nth-child(1) {
    font-size: 1em;
    color: #333;
    padding-bottom: inherit;
  }
  h3 {@media #{$small} {font-size: 1.65em;}}
  ul {
    margin: 0 0 .5em 1.5em; padding: 0;
    li {
      list-style: square;
      margin: 0;
    }
  }
}

fieldset {
  border: none;
  margin: 0;
  padding: 0 0;

  legend {
    margin-bottom: 1.25rem;
  }
  label {}
}

.button {
  white-space: normal;

  &.primary {
    padding: 1rem 2rem;
    margin-left: auto;
    margin-right: auto;

  }

  &.button-left {
    margin: 0 0.5em 0 1em;
  }

  &.button-right {
    margin: 0 1em 0 0.5em;
  }
}


// Action banner

.action-bar {
  text-align: left;
  padding: 1rem;
  background: #f1f1f1;
  a.button {
    margin: 0 0 0 20px; padding: 0;
    background: #2e8540 !important;
    border-bottom: none !important;
  }
}

// Veteran Search Results
.search-results {
  ol {
    list-style: none;
    margin: 0;
  }
  .veteran_location {
    margin-top: 1em;
  }

  h6 {
    font-weight: 700;
    font-size: 1em;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  }
  .result {
    border-bottom: 1px solid $olso-gray;
    margin-bottom: 1em;
  }
  .result:last-child {
    border-bottom: none;
  }
}
