
#militaryJobMatch {
  padding: .25em 1em;
}

.headline-link {
  color: white;
}
.headline-link:hover {
  color: #DDD;
}

.skill-deleter {
  cursor: pointer;
}

.add-skill-form {
  padding-left: 30px;
  padding-right: 30px;
}

.moc-description {
  overflow-y:scroll;
  height:250px;
}

#back-to-instructions-link {
  margin-bottom: 5px;
  font-size: 0.8em;
}

.skill-label {
  @include label($radius:10px);
  margin: 3px;
  font-size: 1em;
  cursor: pointer;
  border: 1px solid $primary-color;
}

.skill-label > i:before {
  content: "\f096";
}

.skill-label.selected {
  background-color: $secondary-color;
  color: white;
}

.skill-label.selected > i:before {
  content: "\f046";
}

.skill-label.more-label {
  background-color: #DDD;
  color: $primary-color;
}

.row .row.skill-translator-row{
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
}

.click-instruction-header {
  color: #AAA;
}

.translation-results h4 {
  margin-bottom: 10px;
}

#pill-box {
  overflow-y:scroll;
  height: 150px;
  border: 1px solid #DDD;
}

.btn-label {
  padding-right: 5px;
}

span.twitter-typeahead {
  display: inline !important;
}

input.sfTypeahead {
  margin: 0;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}
.tt-menu {
  min-width: 300px;
  padding: 5px 0;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;

}
.tt-suggestion {
  display: block;
  padding: 3px 20px;
}
tt-suggestion:hover {
  color: #fff;
  background-color: #428bca;
}
.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}
.tt-suggestion p {
  margin: 0;
}